{:paths   ["src/main"]

 :deps    {org.clojure/clojure        {:mvn/version "1.10.3"}
           org.clojure/spec.alpha     {:mvn/version "0.2.194"}
           com.taoensso/timbre        {:mvn/version "5.1.2"}
           com.taoensso/tufte         {:mvn/version "2.2.0"}
           com.fulcrologic/guardrails {:mvn/version "1.1.7"}
           tick/tick                  {:mvn/version "0.5.0-RC5"}

           com.cognitect/transit-cljs {:mvn/version "0.8.269"}
           com.cognitect/transit-clj  {:mvn/version "1.0.324"}}

 :aliases {:clj-tests {:extra-paths ["src/test"]
                       :main-opts   ["-m" "kaocha.runner"]
                       :extra-deps  {lambdaisland/kaocha {:mvn/version "1.60.945"}}}

           :test-node {:extra-paths ["src/test" "cljs-test-runner-out/gen"]
                       :extra-deps  {olical/cljs-test-runner   {:mvn/version "3.8.0" :exclusions [org.clojure/clojurescript]}
                                     org.clojure/clojurescript {:mvn/version "1.10.893"}}
                       :main-opts   ["-m" "cljs-test-runner.main" "-x" "node" "-d" "src/test"]}

           :jar       {:replace-deps {seancorfield/depstar {:mvn/version "2.0.165"}}
                       :exec-fn      hf.depstar/jar
                       :exec-args    {:jar "dv.tick-util.jar"}}

           :install   {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.12"}}
                       :main-opts  ["-m" "deps-deploy.deps-deploy" "install" "dv.tick-util.jar"]}

           :deploy    {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.12"}}
                       :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy" "dv.tick-util.jar"]}

           :dev       {:extra-paths ["src/test"]
                       :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]

                       :extra-deps  {org.clojure/clojurescript   {:mvn/version "1.10.893"}
                                     org.clojure/core.async      {:mvn/version "1.4.627"}
                                     org.clojure/test.check      {:mvn/version "1.1.0"}
                                     com.taoensso/nippy          {:mvn/version "3.1.1"}
                                     thheller/shadow-cljs        {:mvn/version "2.16.5"}
                                     ;; Formats spec explain.
                                     expound/expound             {:mvn/version "0.8.10"}
                                     binaryage/devtools          {:mvn/version "1.0.4"}
                                     org.clojure/tools.namespace {:mvn/version "1.1.0"}}}}}
