{:paths   ["src/main"]

 :deps    {org.clojure/clojure        {:mvn/version "1.10.1"}
           org.clojure/spec.alpha     {:mvn/version "0.2.194"}
           com.taoensso/timbre        {:mvn/version "5.1.0"}
           com.taoensso/tufte         {:mvn/version "2.2.0"}
           com.fulcrologic/guardrails {:mvn/version "1.1.4"}
           tick/tick                  {:mvn/version "0.4.31-alpha"}

           com.cognitect/transit-cljs {:mvn/version "0.8.264"}
           com.cognitect/transit-clj  {:mvn/version "1.0.324"}}

 :aliases {:clj-tests {:extra-paths ["src/test"]
                       :main-opts   ["-m" "kaocha.runner"]
                       :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-529"}}}

           :jar       {:replace-deps {seancorfield/depstar {:mvn/version "2.0.165"}}
                       :exec-fn hf.depstar/jar
                       :exec-args {:jar "dv.tick-util.jar"}}

           :install   {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.12"}}
                       :main-opts  ["-m" "deps-deploy.deps-deploy" "install" "dv.tick-util.jar"]}

           :deploy    {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.12"}}
                       :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy" "dv.tick-util.jar"]}

           :dev       {:extra-paths ["src/test" "src/dev"]
                       :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]

                       :extra-deps  {org.clojure/clojurescript   {:mvn/version "1.10.773"}
                                     org.clojure/test.check      {:mvn/version "1.0.0"}
                                     thheller/shadow-cljs        {:mvn/version "2.11.11"}
                                     ;; Formats spec explain.
                                     expound/expound             {:mvn/version "0.8.7"}
                                     fulcrologic/fulcro-spec     {:mvn/version "3.1.4"}
                                     binaryage/devtools          {:mvn/version "1.0.2"}
                                     org.clojure/tools.namespace {:mvn/version "1.1.0"}}}}}
